<nav class="navbar">
    <div class="navbar-container">
        <h1 class="navbar-title">Recipe App</h1>
        <div class="navbar-links">
            <a href="/recipes">All Recipes</a>
            <a href="/recipes/my">My Recipes</a>
            <a href="/recipes/add">Add Recipe</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
</nav>

<!-- <% if (typeof success_msg !== 'undefined' && success_msg) { %>
    <div class="flash-message success"><%= success_msg %></div>
<% } %>

<% if (typeof error_msg !== 'undefined' && error_msg) { %>
    <div class="flash-message error"><%= error_msg %></div>
<% } %> -->
