<%- include('../partials/header', { title: 'Verify OTP' }) %>

    <main class="main">
        <h2>Verify OTP</h2>

        <form action="/admin/verify-otp" method="POST">
            <input type="text" name="otp" placeholder="Enter OTP" required />
            <input type="hidden" name="email" value="<%= email %>" />

            <button type="submit">Verify OTP</button>
        </form>
    </main>

    <%- include('../partials/footer') %>