<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>SECRET PAGE</h1>
    <h3>Access Granted!!!</h3>
    <p>only authenticated users see this page.</p>
    <p>Logged in As : </p>
    <a href="">Back to Dashboard</a>
</body>

</html>