<%- include('../partials/header', { title: 'Dashboard' }) %>
    <%- include('../partials/sidebar') %>

        <main class="main">
            <h1>Welcome Admin </h1>
            <p>This is your dashboard.</p>
        </main>

        <%- include('../partials/footer') %>